<div class="content" role="main">

  <!-- Highlight Card -->
  <h2>Autocomplete Terminal</h2>
  <p>A few statements have been prewritten. Statements will be added as you write them. Try it out!</p>
  <!-- Terminal -->
  <div class="terminal">
    <div class="cont" #container style="max-height: 400px; overflow-y: scroll;">
      <app-terminal-line *ngFor="let line of getAllLines()" [line]="line"></app-terminal-line>
      <app-terminal-autocomplete (saveLine)="saveLine($event)"></app-terminal-autocomplete>
    </div>
    
  </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


